version: '3'

volumes:
  cache: # win10 docker support

services:
  app:
    build:
      context: ./
      dockerfile: ./Dockerfile
    depends_on:
      - db
    volumes:
      - ./:/app
    ports:
      - 8000:8000 # exposes 4000 to host
      - 4100:8080 # response test script port
    command: python response_test.py #tail -F anything # python run_server.py # bash


  db:
    image: mysql:8.0.16
    ports:
      - 4001:3306
    environment:
      MYSQL_ROOT_PASSWORD: 1324
      MYSQL_DATABASE: db
      MYSQL_USER: backend
      MYSQL_PASSWORD: 1234
